<%- include("./partials/header1.ejs") %>
    <title>hospital Grounds</title>
    <link rel="stylesheet" href="/stylesheets/login.css">
    <%- include("./partials/header2.ejs") %>

        <div class="container" id="login">

            <div class="jumbotron fluid bg-dark text-white display-4 py-4">
                <span class="d-flex justify-content-center">
                  Signup here!
              </span>
            </div>
            <div class="container row border-4">
                <div class="col-md-6 d-none d-md-block">
                    <i class="fas fa-snowboarding" id="icon"></i>
                </div>
                <div class="col-md-6 col-12">
                    <form class="container pl-5 pt-0" action="/user/signup/" method="POST">
                        <div class="form-group">
                            <label>Name</label>
                            <input class="form-control form1 border-dark" type="text" placeholder="name" name="name" required>
                        </div>
                        <div class=" form-group">
                            <label>Email</label>
                            <input class="form-control form1 border-dark" type="email" placeholder="email" name="username" required>
                        </div>
                        <div class="form-group ">
                            <label>Password</label>
                            <input class="form-control form1  border-dark" type="password" placeholder="password " name="password" required>
                        </div>
                        <div class="row justify-content-between " style="font-size:0.9em">
                            <div class="col-12 mb-3">Signup as</div>
                            <div class="col-5"> <label class="d-flex"><input class=" form1  border-dark" type="radio"  name="signupAs" value="owner">Owner</label></div>
                            <div class="col-5"> <label class="d-flex"><input class=" form1  border-dark" type="radio"  name="signupAs" value="user" checked>Traveller</label></div>
                        </div>
                        <div class="mt-2">
                            <button class="btn btn-danger container-fluid">Submits</button>
                        </div>

                    </form>
                </div>

            </div>

        </div>

        <%- include("./partials/footer1.ejs") %>
            <%- include("./partials/footer2.ejs") %>