<%- include("../partials/header1.ejs") %>
    <title>We Care !</title>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Patua+One|Source+Code+Pro&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/about.css">

    </head>

    <body>

        <div class="row justify-content-around">
            <div class="col-lg-3 col-4 ">


                <div class="side1">

                    <div class="container dp-bg p-3">
                        <span class="text-dark">Created By:</span>
                        <img class="img-fluid dp" src="/uploads/mee.jpg">

                    </div>
                    <div class="container side ">
                        <i class="text-info fab fa-linkedin-in"></i> <a href="https://www.linkedin.com/in/aakash-aakash-a62b3b192/">Linkedin link</a>
                    </div>
                    <div class="container side ">
                        <i class="text-info fab fa-github"></i> <a href="https://github.com/darker-space">Github @darker-space</a>
                    </div>
                    <div class="container side d-none">
                        <a>Website link</a>
                    </div>

                </div>

            </div>
            <div class="col-lg-7 col-8">
                <div class="second p-lg-7 p-2 pt-3 pd-3">
                    <h3>We cARE pROject</h3>
                    <p><b> MOTTO : </b> Transparency and centralisation of health information. Regular updates about all hospitlas and provide a platform for easy sell and purchase of all medical equipments.

                        <br><br> The overall purpose of website is to accommodate all latest information like no of beds available,cost per night,no of doctors available,location or address to that hospital.
                        <br> Along with it,it also aims to provide a platform for better and easy communication between hospital authority who needs medical equipments and all sellers who are available with their products.
                        <br> In case of short availability of any important equipments , Hospital authority have the facility to get acknoledged about any supplies they need.



                        <h4 id="abc"> Easy and effortless information about health services.</h4>

                    </p>
                </div>
            </div>
            <div class="col-3"></div>

        </div>


    </body>




    <%- include("../partials/footer1.ejs") %>
        <script type="text/javascript" src="/jsPage/hospital.js"></script>
        <%- include("../partials/footer2.ejs") %>