<%- include("../partials/header1.ejs") %>
    <title>We Care !</title>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Patua+One|Source+Code+Pro&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/about.css">

    </head>

    <body>

        <div class="row ">
            <div class="col-3 ">


                <div class="side1">

                    <div class="container dp-bg p-3">
                        <span class="text-dark">Created By:</span>
                        <img class="img-fluid dp" src="/uploads/mee.jpg">

                    </div>
                    <div class="container side ">
                        <a href="https://www.linkedin.com/in/aakash-aakash-a62b3b192/">Linked IN link</a>
                    </div>
                    <div class="container side ">
                        <a href="https://github.com/darker-space">Github @darker-space</a>
                    </div>
                    <div class="container side d-none">
                        <a>Website link</a>
                    </div>

                </div>

            </div>
            <div class="col-6">
                <div class="second">
                    <h3>We cARE pROject</h3>
                    <p><b> MOTTO : </b> Avail latest information about all hospital

                        <br><br> The overall purpose of website will be to accommodate all latest research paper, news and discoveries exclusively related to space and technologies. There will be two type of users in our website contributor (or researcher)
                        and student.<br> Only Contributor will be allowed to make authentic post .Students will be able to view all website post and will be able to explore any post he is interested in.<br><br> Apart from post that contributor will make
                        ,there will be automatic post from different space and research websites on our dynamic website by using their API.

                        <h4 id="abc"> RESEARCH AND DEVELOPMENT needs to be promoted in this job seeking world,specially when there is an incredible potential to explore new discoveries in field like space and technologies.</h4>

                    </p>
                </div>
            </div>
            <div class="col-3"></div>

        </div>


    </body>




    <%- include("../partials/footer1.ejs") %>
        <script type="text/javascript" src="/jsPage/hospital.js"></script>
        <%- include("../partials/footer2.ejs") %>