</head>

<body>
    <nav class="nav navbar navbar-expand-md shadow-lg  rounded mt-0  bg-white fixed-top">
        <div class="pl-3 " style="font-size: 1.4em;" id="side-menu"> <i class="fas fa-bars"></i></div>
        <div class="container">
            <div class="navbar-header ">
                <li class="nav-item">
                    <a href="/hospital" class="nav-link navbar-brand " style="font-size: 2em; letter-spacing:2.1px;"> <span id="brandd"><i class="fas fa-heartbeat"></i> We Care</a></span>
                </li>
            </div>


            <div class="nav navbar-right">
                <%  if(!currUser){ %>
                    <li class="nav-item">
                        <a href="/login" class="nav-link"><i class="fas fa-user-nurse"></i>Login </a>
                    </li>
                    <li class="nav-item">
                        <a href="/signup" class="nav-link"><i class="fas fa-user-plus"></i> Signup</a>
                    </li>
                    <% } else{%>
                        <% if(currUser.userType=="owner"){ %>
                            <li class="nav-item d-none d-md-block">
                                <a href="/hospital/new" class="nav-link"><i class="fab fa-opencart"></i> Add hospital </a></li>
                            <li class="nav-item d-none d-md-block"> <a href="/supply/view" class="nav-link"><i class="fas fa-box-open"></i> View product </a></li>
                            <li class="nav-item d-none d-md-block"> <a href="/supply/require" class="nav-link"><i class="fas fa-truck-loading"></i> Require product </a>

                            </li>
                            <% } %>
                                <% if(currUser.userType=="supplier"){ %>
                                    <li class="nav-item">
                                        <a href="/supply/view" class="nav-link"><i class="fas fa-box-open"></i> View product </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/supply/sell" class="nav-link"><i class="fas fa-truck-loading"></i> Sell product </a>
                                    </li>
                                    <% } %>
                                        <li class="nav-item">
                                            <a href="/user/logout" class="nav-link"><i class="far fa-user"></i> Logout</a>
                                        </li>
                                        <% } %>
            </div>


        </div>

    </nav>
    <div id="bdy">
        <div id="sidenav" class="animate__animated animate__slideInLeft">

            <div class="fluid" id="list">
                <div class="user-sidebar shadow-sm list-group-item ">
                    <div class="row">
                        <div class="col-6">
                            <% if(currUser&&currUser.userType=="doctor"){ %>
                                <i id="dp" class="fas fa-user-md"></i>
                                <% } else if(currUser&&currUser.userType=="owner"){ %>
                                    <i id="dp" class="fas fa-hospital"></i>
                                    <% }else if(currUser&&currUser.userType=="supplier"){ %>
                                        <i id="dp" class="fas fa-notes-medical"></i>
                                        <%} else{%>
                                            <i id="dp" class="fas fa-medkit"></i>
                                            <% } %>
                        </div>
                        <div class="col-6">
                            <div class="fluid p-2">
                                <i id="usertype" class="fas fa-circle"></i>
                                <%  if(!currUser){ %>
                                    User
                                    <% } else { %>
                                        <%= currUser.userType %>
                                            <% } %>


                            </div>
                            <div class="fluid p-2 ">
                                <i id="username" class="fas fa-circle"></i>
                                <%  if(!currUser){ %>
                                    Name
                                    <% } else { %>
                                        <%= currUser.name %>
                                            <% } %>
                            </div>
                        </div>
                    </div>
                </div>



                <% if(currUser&&currUser.userType=="owner"){ %>
                    <div class="shadow-sm list-group-item ">
                        <a href="/hospital/new" class="nav-link"><i class="fab fa-opencart"></i> Add hospital </a></div>
                    <div class="shadow-sm list-group-item "> <a href="/supply/view" class="nav-link"><i class="fas fa-box-open"></i> View product </a></div>
                    <div class="shadow-sm list-group-item "> <a href="/supply/require" class="nav-link"><i class="fas fa-truck-loading"></i> Require product </a>

                    </div>
                    <% } %>
                        <% if(currUser&&currUser.userType=="supplier"){ %>
                            <div class="shadow-sm list-group-item ">
                                <a href="/supply/view" class="nav-link"><i class="fas fa-box-open"></i> View product </a>
                            </div>
                            <div class="shadow-sm list-group-item ">
                                <a href="/supply/sell" class="nav-link"><i class="fas fa-truck-loading"></i> Sell product </a>
                            </div>
                            <% } %>
                                <%if(currUser&&currUser.usertype!="user"){%>
                                    <div class="shadow-sm list-group-item ">
                                        <a href="/user/hospital"> See your added hospitals!</a>
                                    </div>

                                    <% } %>
                                        <a href="/about/">
                                            <div class="shadow-sm list-group-item ">
                                                About
                                            </div>
                                        </a>

            </div>

        </div>

        <div id="mainbody">